
  
  .side-menu {
    position: fixed;
    top: 0;
    right: -250px; /* Update 'left' to 'right' */
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    transition: right 0.3s ease; /* Update 'left' to 'right' */
  }
  
  .side-menu.open {
    right: 0; /* Update 'left' to 'right' */
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .side-menu button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }